html {
  font-family: "Noto Serif", serif;
}

.flex {
  display: block;
  width: 100%;
}

.header {
  background-color: #70ad55;
  color: white;
}

p {
  margin: 0;
}

footer {
  background-color: #70ad55;
  color: #fff;
}

fieldset {
  border: 0;
}

input,
textarea,
select,
input[type="radio"] + label::before,
input[type="checkbox"] + label::before {
  border-color: #6e8c62;
}

.btn {
  background-color: #6e8c62;
  border-color: #6e8c62;
}

hr {
  border-color: #70ad55;
  opacity: .3;
}

.green {
  color: #70ad55;
}
